{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>{{todolist.name}}</h1>
    <a href="{% url "todo_list_update" todolist.id %}">Edit</a>
    <p> <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a></p>
    <h2>Tasks</h2>
    <table>
      <thead>
        <td>Task</td>
        <td>Due date</td>
      </thead>
      <tbody>
        {% for todoitem in todolist.items.all %}
        <tr>
          <td><a href="{% url 'todo_item_update' todoitem.pk %}">{{todoitem.task}}</a></td>
          <td>{{todoitem.due_date}}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
